.back{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("./back.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.Login{
    background-color: rgba(255,255,255,0.5);
    position: fixed;
    padding-top: 30%;
    width: 20%;
    height: 40%;
    right: 10%;
    top: 30%;
    border: 2px solid #eee;
    text-align: center;
}

.Login .title{
    font-size: 2em;
    margin-top: 8%;
    margin-bottom: 8%;
}

.Login .loginItem{
    width: 70%;
}

.Login .loginButton{
    margin-top: 1%;
}
